body{
    background-color: blue;
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-size: 1550px;
}

#calculator{
    background-color:grey;
    border: 1px solid rgb(95,93,93);
    border-radius: 5px;
    width: 200px;
    margin-top: 130px;
    margin-left: 600px;
    padding: 60px;
}
#display{
    width: 400px; /* Set the width */
    height: 60px; /* Set the height */
    font-size: 16px; 
    margin-bottom: 10px;
    

}
.button_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    width: 60px;
    height: 60px;
    margin: 3px;
    border-radius: 25px;
    background-color: orange;
}